@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    <p>Мы ценим вашу конфиденциальность и стремимся защитить ваши личные данные. На нашем сайте мы храним только куки для улучшения пользовательского опыта.</p>

    <h2>Что такое куки?</h2>
    <p>Куки — это небольшие текстовые файлы, которые хранятся на вашем устройстве при посещении нашего сайта. Они помогают нам запомнить ваши предпочтения и улучшить наш сервис.</p>

    <h2>Использование куки</h2>
    <p>Мы используем куки для следующих целей:</p>
    <ul>
        <li>Запоминание настроек и предпочтений пользователя.</li>
        <li>Анализ использования сайта для его улучшения.</li>
        <li>Поддержка функциональности сайта.</li>
    </ul>

    <p>Если у вас есть какие-либо вопросы или предложения по поводу нашей политики конфиденциальности, пожалуйста, свяжитесь с нами.</p>

    <footer>
        <p>&copy; 2024 ООО "MedicalClinic"</p>
    </footer>
</div>
